*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --secondary-main: #fc0882;
  --secondary-light: #fd93c8;
  --secondary-dark: #d4006a;
  --primary-main: #b57eec;
  --primary-light: #f5ebff;
  --primary-dark: #5d1d9c;
  --white: #ffffff;
}
*::selection {
  background-color: var(--primary-main);
  color: var(--white);
}
html,
body {
  height: 100%;
}
ul,
ol {
  list-style: none;
}
p {
  text-align: left;
  margin-bottom: 15px;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}
section {
  padding: 50px 0;
}
.container {
  max-width: 1440px;
  padding: 0 25px;
  margin: 0 auto;
}
.custom-box {
  padding: 20px;
  background-color: var(--primary-light);
  border: 1px solid var(--primary-dark);
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
.col {
  flex: 0 0 calc(50% - 30px);
  max-width: calc(50% - 30px);
}
.nav-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.nav-listing li {
  flex: 0 0 25%;
  max-width: 25%;
  background-color: var(--primary-light);
  border: 1px solid var(--primary-dark);
  border-radius: 3px;
}
.nav-listing li a {
  display: block;
  padding: 12px;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-dark);
  text-decoration: none;
}
.MuiInputBase-root {
  text-align: left;
}

#filewrapper:not(:empty) {
  padding: 10px;
  background-color: var(--white);
  margin-top: 15px;
  border-radius: 8px;
}

.showfilebox,
#filewrapper li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding: 5px;
}
.close-icon {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  display: inline-block;
}
.close-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background: url(../images/close_icon.svg) center/cover no-repeat;
}
.drag-files-box {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--primary-dark);
  background-color: var(--primary-main);
  color: var(--white);
  border-radius: 15px;
  cursor: pointer;
}
.drag-files-box p {
  margin-bottom: 0;
}
